@model CodeSanook.Configuration.Models.ModuleSettingPart
<fieldset>
    <legend>"<u><b>@T("CodeSanook Module Settings")</b></u>"</legend>

    <div>
        @Html.LabelFor(m => m.AwsAccessKey)
        @Html.EditorFor(m => m.AwsAccessKey)
        @Html.ValidationMessageFor(m => m.AwsAccessKey, "*")
    </div>

    <div>
        @Html.LabelFor(m => m.AwsSecretKey)
        @Html.EditorFor(m => m.AwsSecretKey)
        @Html.ValidationMessageFor(m => m.AwsSecretKey, "*")
    </div>

    <div>
        @Html.LabelFor(m => m.AwsS3BucketName)
        @Html.EditorFor(m => m.AwsS3BucketName)
        @Html.ValidationMessageFor(m => m.AwsS3BucketName, "*")
    </div>

    <div>
        @Html.LabelFor(m => m.AwsS3PublicUrl)
        @Html.EditorFor(m => m.AwsS3PublicUrl)
        @Html.ValidationMessageFor(m => m.AwsS3PublicUrl, "*")
    </div>

    <div>
        @Html.LabelFor(m => m.FacebookAppId)
        @Html.EditorFor(m => m.FacebookAppId)
        @Html.ValidationMessageFor(m => m.FacebookAppId, "*")
    </div>
</fieldset>